body {
    justify-content: center;
    align-items: center;
    background-image: url("back.jpg");
    display: flex;
    height: 100vh;
    padding: 0;
    margin: 0;
  }
  
  
  .progress {
    background: transparent;
    justify-content: flex-start;
    border-radius: 100px;
    align-items: center;
    position: relative;
    padding: 0 5px;
    display: flex;
    height: 40px;
    width: 350px;
  }
  
  .progress-value {
    animation: html 3s normal forwards;
    box-shadow: 0 10px 40px -10px #fff;
    border-radius: 100px;
    background: #ffffff;
    height: 30px;
    width: 0;
  }
  
  @keyframes html {
    0% { width: 0; }
    100% { width: 68%; }
  }

  .progress-value {
    animation: css 3s normal forwards;
    box-shadow: 0 10px 40px -10px #fff;
    border-radius: 100px;
    background: #ffffff;
    height: 30px;
    width: 0;
  }
  
  @keyframes css {
    0% { width: 0; }
    100% { width: 68%; }
  }


  .skillheader{
    font-size: 30px;
    font-weight: 500;  
    position: relative;
    color: #fff;
    height: 100px;
    width: 100px;
   }
   #skillname{
    top: -80px;
    right: -175px;
   }
   #skillpercent{
    top: -10px;
    right: -390px;
   }


  .block {
	position: relative;

	background: linear-gradient(0deg, #000, #272727);
}

.block:before, .block:after {
	content: '';
	position: absolute;
	left: -2px;
	top: -2px;
	background: linear-gradient(45deg, #fb0094, #0000ff, #fb0094,#0000ff, #fb0094, #0000ff, 
  #fb0094, #0000ff,#fb0094, #0000ff);
	background-size: 400%;
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	z-index: -1;
	animation: steam 20s linear infinite;
}

@keyframes steam {
	0% {
		background-position: 0 0;
	}
	50% {
		background-position: 400% 0;
	}
	100% {
		background-position: 0 0;
	}
}

.block:after {
	filter: blur(40px);
}